.container {
  margin: 0 25%;
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0 10%;
  }

}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 5%;
  }

}

@media screen and (max-width: 320px) {
  .container {
    margin: 0 2%;
  }

}
.ant-menu-title-content {
  font-weight: 600;
  font-size: 16px;
}

.card {
  /* box shadow viền đen bên dưới */
  /* background: transparent; */
}
.card_type{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.card_type:hover img {
  /* scale: 1.1; */
  transition: 0.5s;
  transform: translateY(-5px);
  display: block;

}
.vib-v2-news-best {
  position: relative;
  display: block;
  width: fit-content;
  height: 23px;
  text-align: left;
  padding-left: 25px;
  padding-right: 10px;
  top: 0;
  left: 4px;
  color: #000000;
  font-size: 10px;
  z-index: 3;
  transition: all .3s;
  text-transform: uppercase;
  background-position: center right;
  background-size: 100%;
  line-height: 24px;
  margin-top: 0px;
  font-weight: 600;
  margin-bottom: 20px;
  background: linear-gradient(94.64deg, rgba(255, 89, 34, 0.2) 3.75%, rgba(254, 155, 37, 0.2) 96.25%);
  border-radius: 43px;
}
.vib-v2-news-best:after {
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  top: 0px;
  width: 23px;
  height: 23px;
  background-image: url(https://www.vib.com.vn/wps/wcm/connect/1eedfa93-8389-4640-818a-e724c54834e4/news-best-start-icon.png?MOD=AJPERES&attachment=true&id=1640921522077);
  /* background-image: var(--icon-news-best-star); */
  background-size: contain;
  background-repeat: no-repeat;
}
